
#quizButton {
    display: none;
    position: fixed;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}
/* Common button styles */
#nextPage, #prevPage {
    position: fixed;
    bottom: 20px;
    z-index: 1000;
    padding: 10px 20px;
    font-size: 16px;
    color: white;

    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Hide buttons by default */
#prevPage, #nextPage {
    display: none;
}

/* Specific styles for buttons positioning on large screens */
#nextPage {
    bottom: 20px;
    right: 40px; /* Floating to the right */
}

#prevPage {
    bottom: 12px;
    left: 40px; /* Floating to the left */
}